.navbar-bg {
  background-color: #f5744d;
}
.navbar-text {
  font-size: 1.7em !important;
  font-weight: 700 !important;
  color: #182f53 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.search-bg {
  background-color: #f9eee2 !important;
}
.img-card {
  width: 200px;
  height: 200px;
}
.card {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
